{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h1>Subscriptions</h1>
        </div>
        <div class="row parallax" title="Wine subscriptions">
            <div class="col-sm">
                <p class="subscription-intro">Try our wine delivery subscription packages! Subscribe for 3 months or
                    more and receive a case of wine each month!<br>
                    Pick a wine type, or choose the selection offer, and start your adventure in Wine Nation!</p>
            </div>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <div class="col-sm benefits">
            <h2 class="text-center">5 reasons to subscribe to regular wine deliveries:</h2>
            <ol>
                <li>Lower prices per bottle than buying individual bottles</li>
                <li>The longer subscription you purchase the more you save</li>
                <li>Regular deliveries-never run out of wine!</li>
                <li>You'll receive wines recommended by our experts</li>
                <li>Get the chance of trying new wines every month!</li>
            </ol>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-sm-12">
            <h2 class="text-center">Choose one (or more) of the subscriptions below </h2>
        </div>
        {% for subscription in subscriptions %}
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="row">
                <div class="col">
                    <ul class="subscription">
                        <li class="header">{{ subscription.name }}</li>
                        <li class="grey">£ {{ subscription.price }}</li>
                        <li class="white">{{ subscription.description }}</li>
                    </ul>
                </div>
            </div>
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_product' subscription.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_product' subscription.id %}">Delete</a>
            </small>
            {% endif %}
            <div class="row">
                <div class="col-sm-12">
                    <form class="form text-center" action="{% url 'add_to_bag' subscription.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row justify-content-center">
                            <div class="col-sm-12 text-center w-25">
                                <p class="col mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn" data-item_id="{{ subscription.id }}"
                                                id="decrement-qty_{{ subscription.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                                            min="1" max="99" data-item_id="{{ subscription.id }}"
                                            id="id_qty_{{ subscription.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn" data-item_id="{{ subscription.id }}"
                                                id="increment-qty_{{ subscription.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <input type="submit" class="btn mt-2" value="Subscribe">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}